/*
 *   Street Sidekick styles
 * ---------------------------------------------------- //
*/

@import "fonts";

$bp-md: 767px;

$slate-blue: desaturate(lighten(#84adff, 5%), 60%);
$logo-color: desaturate(#ff3333, 10%);

$font-size-heading: 34px;

a {
	color: desaturate(darken(#84adff, 25%), 30%);

	&:hover{
		color: desaturate(darken(#84adff, 25%), 30%);
	}
}

.highlight {
	background-color: #fff;
	color: $logo-color;
	padding: 5px;
}

.emphasize {
	padding-top: 20px;
}

.table-cell {
	display: table-cell;
	vertical-align: baseline;
}

.social {
	font-size: 25px;
	margin-bottom: -15px;
	padding-top: 15px;
	text-align: right;

	a {
		color: #333;
		text-decoration: none;

		&:hover {
			color: lighten(#333, 10%);
		}
	}
}

.container {
	width: 1000px;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	letter-spacing: 0.1px;
}

footer {
	background-color: #333;
	color: #fff;
	font-weight: 300;
	padding-bottom: 100px;
	padding-top: 30px;
}

.text-offscreen {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.brand {
	background: url("../images/ss_logo.png") no-repeat;
	background-size: contain;
	height: 140px;
	width: 332px;
}

.description {
	font-size: 20px;
	font-weight: 300;
	line-height: 1.8em;

	strong {
		font-weight: 600;
	}
}

.description-container {
	background-color: $slate-blue;
	height: 100%;
	padding: 40px 0;
}

.header {
	background-color: #fff;
	margin-bottom: 0;
	padding-bottom: 0;
	padding-top: 0;
}

.header-top {
	padding-bottom: 10px;
}

.sidekick-app {
	display: block;
	left: 50%;
	margin-left: -150px;
	position: absolute;
	width: 300px;

	@media screen and (max-width: $bp-md) {
		position: static;
	}
}

.app-platforms {
	padding: 10px;
	border: 1px solid;
	padding-top: 0;
	border-radius: 0.5em;
	bottom: 20px;
	color: desaturate(darken($slate-blue, 40%), 5%);
	opacity: 0.5;
	left: 50%;
	margin-left: -125px;
	position: absolute;
	text-align: center;
	width: 250px;

	h4 {
		font-size: 16px;
		font-weight: 300;
		text-transform: lowercase;
	}

	span {
		font-size: 30px;
		padding: 0 5px;
	}
}

section {
	padding-bottom: 60px;
	padding-top: 60px;

	h2 {
		font-weight: 300;
		margin-bottom: 30px;
		margin-top: 0;
		text-transform: lowercase;
	}
}

/* FIRST SECTION ------------------------------------------------------- */

.pin-icon {
	width: 300px;
}

.feature {
	padding: 0 25px;
}

.img-circle {
	background-color: #fff;
	height: 275px;
	margin-bottom: 30px;
	overflow: hidden;
}

h4 {
	font-weight: 600;
}

.about-street-sidekick {
	h2 {
		font-size: $font-size-heading;
	}

	background-color: #efefef;
}

.feature-screenshot {
	max-width: 100%;
	position: relative;
	top: -130px;
	width: 300px;
}
