/*
 *   Street Sidekick styles
 * ---------------------------------------------------- //
*/

$bp-md: 767px;

$slate-blue: desaturate(lighten(#84adff, 5%), 60%);
$logo-color: desaturate(#ff3333, 10%);

$font-size-heading: 34px;

.highlight {
	background-color: #fff;
	color: $logo-color;
	padding: 5px;
}

.container {
	width: 1000px;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	letter-spacing: 0.1px;
}

footer {
	background-color: #333;
	color: #fff;
	font-weight: 300;
	padding-bottom: 100px;
	padding-top: 30px;
}

.text-offscreen {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.brand {
	background: url("../images/ss_logo.png") no-repeat;
	background-size: contain;
	height: 140px;
	width: 332px;
}

.description {
	font-size: 20px;
	font-weight: 300;
	line-height: 1.8em;

	strong {
		font-weight: 600;
	}
}

.description-container {
	background-color: $slate-blue;
	padding: 40px 0 60px;
}

.header {
	background-color: #fff;
	margin-bottom: 0;
	padding-bottom: 0;
}

.header-top {
	padding-bottom: 10px;
}

.sidekick-app {
	left: 50%;
	margin-left: -150px;
	position: absolute;
	width: 300px;

	@media screen and (max-width: $bp-md) {
		position: static;
	}
}

section {
	padding-bottom: 60px;
	padding-top: 60px;

	h2 {
		font-weight: 300;
		margin-bottom: 30px;
		margin-top: 0;
		text-transform: lowercase;
	}
}

/* FIRST SECTION ------------------------------------------------------- */

.pin-icon {
	width: 300px;
}

.feature {
	padding: 0 25px;
}

.img-circle {
	background-color: #fff;
	height: 275px;
	margin-bottom: 30px;
	overflow: hidden;
}

h4 {
	font-weight: 600;
}

.about-street-sidekick {
	h2 {
		font-size: $font-size-heading;
	}

	background-color: #efefef;
}

.feature-screenshot {
	max-width: 100%;
	position: relative;
	top: -130px;
	width: 300px;
}
